header{
 background-color:#D4AAA3;
 text-align: center;
}


body{
  background-color: #FFF0E0;
  margin:auto;
  width: 96%;
}

nav li {
  display: inline;
  margin-bottom: 0.02em;
  margin-right: 3em;
  width:1em;
  height:2em;
}
 article{
  font-size: 20px;
  margin-top: 5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
 }
aside{
  font-size: 35px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-left: 0.05em;
  margin-bottom:0.5em;
  margin-top: 10%;
  margin-left: 80%;

}
.titles {
  clear:both;
  text-align: center;
  margin-top: 7em;
}

h2{
  margin-top: 1em;
  display: inline;
}
p {
  text-align: left;
}


  footer{
  background-color:#D4AAA3;
  text-transform: uppercase;
  clear: both;
  font-size: 80%;
  padding: 5px;
  margin-top:20%;
  text-align: center;
  position: relative;
  }

/*footer{
  text-transform: uppercase;
  clear: both;
  font-size: 80%;
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}*/
   span {
  font-style:italic;
  font-family: Timex;
  font-size: 30px;
}