header{
 background-color:#D4AAA3;
}


body{
  background-color: #FFF0E0;
  margin:auto;
  width: 96%;
}

nav li {
  display: inline;
  margin-bottom: 0.02em;
  margin-right: 3em;
  width:1em;
  height:2em;
}
 article{
  font-size: 20px;
  margin-top: 5em;
 }
aside{
  font-size: 35px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-left: 0.05em;
  margin-bottom:0.5em;
  margin-top: 10%;
  margin-left: 80%;

}
.titles{
  text-align: center;

}

h3{
  margin-top: 1em;
  display: inline;
}
p {
  text-align: left;
}


  footer{
  background-color:#D4AAA3;
  /*clear: both;*/
   text-align: center;
  font-size: 90%;
  padding: 5px;
  margin-top:15%;
 /* position: static;*/
  }
   span {
  font-style:italic;
  font-family: Timex;
  font-size: 30px;
}