header, footer {
  background-color: #896D79;
  border-bottom: 1px solid;

}
header {
  text-align: center;

}
 body{
  background-attachment: scroll;
  background-color: #FFDBdd;
  width: 86%;
  margin: 0 auto ;
}

h1 {
  text-align: center;
  padding-top: 0.8em;
  padding-left: 1em;
 }

nav li {
  display: inline;
  margin-right: 2em;
  width: 5em;
  height: 5em;
}
h2 {
  font-weight: bold;
  color: black;
  display: inline;
}

li {
  padding: 0.5em;
}

 blockquote {
  float:right;
  width: 300px;
  font-size: 130%;
  font-style: italic;
  font-family:Times;
  margin: 200px 0px 20px 20px;
  padding: 30px;
  border-top: 1px solid ;
  border-bottom: 1px solid;
  border-width: 50%;
 }

article {
text-align: left;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 140%;
font-style: inherit;
padding-top: 3em;
padding-bottom: 5em;

}
/*
.Blog {
  float:right;
  font-size: 25px;
  border-top: 1px solid;
  border-bottom: 2px solid;
  margin-bottom:10%;
  margin-top: 10%;
  margin-left: 70%;
}*/

  /*.Contact {
  float: center;
  text-align: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: auto;
  margin-bottom: 0.5em;
}*/

footer{
  text-transform: uppercase;
  clear: both;
  font-size: 80%;
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}




